################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrimeNumbers/.vs/PrimeNumbers
/PrimeNumbers/bin/Debug/netcoreapp3.1
/PrimeNumbers/obj
/PrimeNumbers/PrimeNumbers/bin/Debug/netcoreapp3.1
/PrimeNumbers/PrimeNumbers/obj/Debug/netcoreapp3.1
/PrimeNumbers/PrimeNumbers/obj
